:root {
    --clr-primary-100: hsl(225, 100%, 94%);
    --clr-primary-400: hsl(245, 75%, 52%);
    --clr-neutral-100: hsl(225, 100%, 98%);
    --clr-neutral-400: hsl(224, 23%, 55%);
    --clr-neutral-900: hsl(223, 47%, 23%);
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;
}

body {
    background-color: var(--clr-primary-100);
    font-family: 'Red Hat Display', system-ui, sans-serif;
    font-weight: var(--fw-medium);
}

.main {
    background-image: url('./images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 1.25rem;
    box-shadow: 0 40px 40px -20px hsla(228, 87%, 40%, 0.15);
    max-width: 28.125rem;
    margin: 1.5rem;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    color: var(--clr-neutral-400);
    padding-inline: clamp(1.5rem, 6.35vw, 3rem);
}

.card__title {
    color: #1F2E55;
    font-size: clamp(1.375rem, 5.6vw, 1.75rem);
    font-weight: var(--fw-black);
    text-align: center;
}

.card__description {
    font-size: clamp(0.9375rem, 3.5vw, 1rem);
    line-height: 1.625;
    padding-inline: 0.5rem;
    text-align: center;
}

.card__order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--clr-neutral-100);
    border-radius: 0.6875rem;
    padding: clamp(1rem, 3vw, 1.5rem);
}

.order {
    display: flex;
    gap: 1.25rem;
}

.order__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(0.25rem, 1vw, 0.5rem);
    font-size: clamp(0.875rem, 3.7vw, 1rem);
}

.order__title {
    color: var(--clr-neutral-900);
    font-weight: var(--fw-black);
}

.order__action {
    color: var(--clr-primary-400);
    font-size: clamp(0.8125rem, 3.4vw, 0.875rem);
    font-weight: var(--fw-bold);
}

.order__action:hover,
.order__action:focus-visible {
    color: hsl(245, 83%, 68%);
    text-decoration: none;
}

.card__cta {
    display: grid;
    width: 100%;
    gap: clamp(1.5rem, 6.35vw, 2rem);
    align-items: center;
    padding-inline: clamp(1.5rem, 6.35vw, 3rem);
    padding-block-end: clamp(2rem, 6.35vw, 3rem);
}

.button {
    border: 0;
    cursor: pointer;
    font-size: 0.94rem;
    font-weight: var(--fw-black);
}

.button[data-type="primary"] {
    background-color: var(--clr-primary-400);
    color: #ffffff;
    border-radius: 0.6875rem;
    padding-block: 0.94rem;
    box-shadow: 0 20px 20px 0 rgba(56, 42, 225, 0.19);
}

.button[data-type="primary"]:hover {
    background-color: hsl(245, 83%, 68%);
}

.button[data-type="secondary"] {
    background-color: transparent;
    color: var(--clr-neutral-400);
}

.button[data-type="secondary"]:hover {
    color: var(--clr-neutral-900);
}

@media (min-width: 768px) {
    .main {
        background-image: url('./images/pattern-background-desktop.svg');
    }

    .card__title {
        padding-block-start: 0.75rem;
    }
}
